flows.json
[{"id":"632e49dc.10da88","type":"tab","label":"Auto AI Flow","disabled":false,"info":"To predict the life expectancy using Auto AI"},{"id":"3d6bfbb2.bc8074","type":"function","z":"632e49dc.10da88","name":"PreToken","func":"global.set(\"co\",msg.payload.co)\nglobal.set(\"ye\",msg.payload.ye)\nglobal.set(\"st\",msg.payload.st)\nglobal.set(\"ad\",msg.payload.ad)\nglobal.set(\"inf\",msg.payload.inf)\nglobal.set(\"al\",msg.payload.al)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"he\",msg.payload.he)\nglobal.set(\"me\",msg.payload.me)\nglobal.set(\"bm\",msg.payload.bm)\nglobal.set(\"un\",msg.payload.un)\nglobal.set(\"po\",msg.payload.po)\nglobal.set(\"to\",msg.payload.to)\nglobal.set(\"di\",msg.payload.di)\nglobal.set(\"hi\",msg.payload.hi)\nglobal.set(\"gd\",msg.payload.gd)\nglobal.set(\"pop\",msg.payload.pop)\nglobal.set(\"th\",msg.payload.th)\nglobal.set(\"thi\",msg.payload.thi)\nglobal.set(\"inc\",msg.payload.inc)\nglobal.set(\"sc\",msg.payload.sc)\nvar apikey=\"hegFSad-2z7u4FpBIV2YmbxVzVtBw5mDSj9tu1Fm3gRe\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":140,"wires":[["8ec21c93.da451"]]},{"id":"8ec21c93.da451","type":"http request","z":"632e49dc.10da88","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":140,"wires":[["d29f5e48.11f06"]]},{"id":"7faf7d98.8dd714","type":"inject","z":"632e49dc.10da88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":60,"y":120,"wires":[["3d6bfbb2.bc8074"]]},{"id":"d29f5e48.11f06","type":"function","z":"632e49dc.10da88","name":"Pre Prediction","func":"var co = global.get('co')\nvar ye = global.get('ye')\nvar st = global.get('st')\nvar ad = global.get('ad')\nvar inf = global.get('inf')\nvar al = global.get('al')\nvar pe = global.get('pe')\nvar he = global.get('he')\nvar me = global.get('me')\nvar bm = global.get('bm')\nvar un = global.get('un')\nvar po = global.get('po')\nvar to = global.get('to')\nvar di = global.get('di')\nvar hi = global.get('hi')\nvar gd = global.get('gd')\nvar pop = global.get('pop')\nvar th = global.get('th')\nvar thi = global.get('thi')\nvar inc = global.get('inc')\nvar sc = global.get('sc')\nvar token=msg.payload.access_token\nvar instance_id=\"014dfe4a-2ae7-4caa-9dad-35bbcda5a3ca\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"co\", \"ye\", \"st\", \"ad\", \"inf\", \"al\", \"pe\", \"he\", \"me\", \"bm\", \"un\", \"po\", \"to\", \"di\", \"hi\", \"gd\", \"pop\", \" th\", \" thi\", \"inc\", \"sc\"], \"values\": [[co,ye,st,ad,inf,al,pe,he,me,bm,un,po,to,di,hi,gd,pop,th,thi,inc,sc]]}]};\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":140,"wires":[["ca7206ce.ba7568"]]},{"id":"ca7206ce.ba7568","type":"http request","z":"632e49dc.10da88","name":"","method":"POST","ret":"obj","paytoqs":true,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/96804c22-8be3-4ce2-822b-71a75570f9d4/predictions","tls":"","persist":false,"proxy":"","authType":"","x":250,"y":320,"wires":[["3dc4ec0d.c12344"]]},{"id":"94745319.9d9b5","type":"ui_form","z":"632e49dc.10da88","name":"","label":"","group":"1f8a7873.046ef8","order":1,"width":0,"height":0,"options":[{"label":"Country","value":"co","type":"text","required":true,"rows":null},{"label":"Year","value":"ye","type":"number","required":false,"rows":null},{"label":"Status","value":"st","type":"text","required":false,"rows":null},{"label":"Adult Mortality","value":"ad","type":"number","required":false,"rows":null},{"label":"infant deaths","value":"inf","type":"number","required":false,"rows":null},{"label":"Alcohol","value":"al","type":"number","required":false,"rows":null},{"label":"percentage expenditure","value":"pe","type":"number","required":false,"rows":null},{"label":"Hepatitis B","value":"he","type":"number","required":false,"rows":null},{"label":"Measles","value":"me","type":"number","required":false,"rows":null},{"label":"BMI","value":"bm","type":"number","required":false,"rows":null},{"label":"under-five deaths","value":"un","type":"number","required":false,"rows":null},{"label":"Polio","value":"po","type":"number","required":false,"rows":null},{"label":"Total expenditure","value":"to","type":"number","required":false,"rows":null},{"label":"Diphtheria","value":"di","type":"number","required":false,"rows":null},{"label":"HIV/AIDS","value":"hi","type":"number","required":false,"rows":null},{"label":"GDP","value":"gd","type":"number","required":false,"rows":null},{"label":"Population","value":"pop","type":"number","required":false,"rows":null},{"label":"thinness 1-19 years","value":"th","type":"number","required":false,"rows":null},{"label":"thinness 5-9 years","value":"thi","type":"number","required":false,"rows":null},{"label":"Income composition of resources","value":"inc","type":"number","required":false,"rows":null},{"label":"Schooling","value":"sc","type":"number","required":false,"rows":null}],"formValue":{"co":"","ye":"","st":"","ad":"","inf":"","al":"","pe":"","he":"","me":"","bm":"","un":"","po":"","to":"","di":"","hi":"","gd":"","pop":"","th":"","thi":"","inc":"","sc":""},"payload":"","submit":"PREDICT","cancel":"CANCEL","topic":"","x":50,"y":180,"wires":[["3d6bfbb2.bc8074"]]},{"id":"1144b89f.744017","type":"debug","z":"632e49dc.10da88","name":"Value","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":320,"wires":[]},{"id":"2aff3d60.742942","type":"ui_text","z":"632e49dc.10da88","group":"1f8a7873.046ef8","order":2,"width":0,"height":0,"name":"","label":"Predicted value : ","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":400,"wires":[]},{"id":"3dc4ec0d.c12344","type":"function","z":"632e49dc.10da88","name":"","func":"msg.payload= msg.payload.predictions[0].values[0][0]\nreturn msg;\n","outputs":1,"noerr":0,"x":470,"y":300,"wires":[["2aff3d60.742942","1144b89f.744017"]]},{"id":"1f8a7873.046ef8","type":"ui_group","z":"","name":"Predicting Life Expectancy","tab":"fa1d070d.77f4d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"fa1d070d.77f4d8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]